#contenedor-datos {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 25px;
}

.contenedor-empresa{
    width: 60%;
    overflow: hidden;
}


#contenedor-datos iframe {
    width: 60%;
    border-radius: 5px;

}

#contenedor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #4E4E4E;
}


#contenedor-info h3 {

    color: black;
}


#contenedor-info img {
    border-radius: 5px;
}



.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.lista img {
    padding-right: 5px;
}

@media (max-width: 600px) {

    #contenedor-datos {
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
       
    }
    .contenedor-empresa{
        width: 90%;
    }
    
    #contenedor-info {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        color: #4E4E4E;
        font-size: 13px;
        margin-bottom: 30px;
    }

    #contenedor-datos iframe {
        width: 95%;
        border-radius: 5px;
    
    }

    #contenedor-info h3 {
    margin-bottom: 5px;
    }
    .lista p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    
}