
#contenedor-datos {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 25px;
}


#contenedor-datos iframe {
    width: 50%;
    border-radius: 5px;

}

#contenedor-info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #4E4E4E;
    font-size: 16px;
}

#contenedor-info h3 {

    color: black;
}


#contenedor-info img {
    border-radius:5px;
}



.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.lista img {
    padding-right: 5px;
}