
.contenedor-enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 30px;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}


.enlaces {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: all 0.3s ease;
    background-color: white;
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.enlaces:hover {
    transform: scale(1.1);
}


.contenedor-img {
    background-color: #BFE8FF;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-img img {
    width: 40px;
    height: 40px;
}

.contenedor-txt {
    color: rgb(0, 107, 255);
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;

}

#texto-gris {
    color: grey;
    text-align: center;
}