*{
    transition: all 0.3s ease;
}
.seccion-principal {
    width: 100%;
    padding-top: 50px;
    border-radius: 25px 25px 0 0;
    background-color: #f4f4f4;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
}

.contenedor-cita {
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

#lista-citas {
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.conjunto-foto-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenedor-papelera {
    display: flex;
    justify-content: flex-end;
}

.contenedor-papelera img {
    transition: all 0.3s ease;
}

.contenedor-papelera img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#ventana-eliminar {
    background-color: white;
    border-radius: 20px;
    z-index: 999;
    width: 40%;
    padding: 40px;
    position: fixed;
    /* Posición absoluta */
    top: 50%;
    /* 50% desde la parte superior */
    left: 50%;
    /* 50% desde la izquierda */
    transform: translate(-50%, -50%);
    
}

#icono-accion {
    cursor: pointer;
}

.overlay {
    position: fixed;
    /* Fijo en la pantalla */
    top: 0;
    /* Arriba */
    left: 0;
    /* Izquierda */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro con transparencia */
    z-index: 998;
}


.caja-botones {
    display: flex;
    justify-content: center;

}

button {
    width: 30%;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: rgb(0, 107, 255);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: rgb(7, 88, 201);
}

#btn-eliminar {
    background-color: red;
}

h2 {
    text-align: center;
    padding: 15px;
}

.foto-servicio {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 7px;
}

.apartado-texto {
    margin: 20px;
    
}

.apartado-texto p, .apartado-texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}
