form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 997;
}


input {
    padding: 9px;
    border: 1px solid #ccc;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
}

input:focus {
    outline: none;
}


button {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: rgb(7, 88, 201);
}

#texto-autor {
    text-align: center;
    color: grey;
    margin: 50px;
}

#texto-morado {
    color: var(--tema-principal);
}




#enlace-volver {
    position: absolute;
    right: 90%;
    top: 50px;
    z-index: 999;
}

.botones {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;

}

.botones button {
    background-color: transparent;

    margin: 10px;
    font-weight: bolder;
    transition: all 0.3s ease;
    background-color: var(--tema-principal);
    color: white;
    border-radius: 10px;
    border:1px transparent solid;
}



.botones button:nth-child(1) {

}

.botones button:nth-child(2) {
  background-color: transparent;
  color: var(--tema-principal);
  border: 1px var(--tema-principal) solid;
}

.botones button:nth-child(2):hover{
    color: white;
    background-color: var(--tema-principal);
    border: 1px solid transparent;
}

.contenedores-actualizar {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

#fotoDePerfil {
    border-radius: 50%;
    cursor: pointer;
    border: 3px rgb(224, 224, 224) solid;
    transition: all 0.3s ease;
    object-fit: cover;

}

#ventana-editarfoto-oculta {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30%;
    z-index: 999;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#ventana-editarfoto-oculta h3 {
    padding: 20px;
}

#ventana-editarfoto-oculta .botones-editar-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#ventana-editarfoto-oculta .botones-editar-foto button {
    background-color: black;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin: 10px;

}

#ventana-editarfoto-oculta .botones-editar-foto button:nth-child(2) {
    background-color: var(--tema-principal);
}

#fotoDePerfil:hover {
    border: 3px var(--tema-principal) solid;
}

.contendor-foto {
    margin: 10px;
    position: static;
}

#archivo-foto {
    width: 70%;
    border-radius: 10px;
}

.contenedor-editar {
    background-color:var(--tema-principal);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 989;
    position: absolute;
    transform: translate(70px, 70px);
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    /* Fijo en la pantalla */
    top: 0;
    /* Arriba */
    left: 0;
    /* Izquierda */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro con transparencia */
    z-index: 998;
    /* Asegurarse de que esté detrás de la ventana */
}




@media(max-width: 600px) {
    form {
        width: 60%;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .contenedores-actualizar {
        width: 290px;
        justify-content: center;
    }

    input {
        width: 125px;
        font-size: 13px;
    }

    .botones {
        width: 60%;

    }

    button {
        font-size: 13px;
    }   

    #ventana-editarfoto-oculta {
        width: 70%;
    }


}