#icono-accion {
    cursor: pointer;
}

p {
    color: white;
}

.seccion-principal {
    width: 100%;
    padding-top: 50px;
    border-radius: 25px 25px 0 0;
    background-color: #f4f4f4;
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#img-cancelar {
    cursor: pointer;
}

.filas {
    display: flex;
    align-items: center;
}


.seccion-principal .filas img,
.seccion-principal p {
    padding: 7px;
    color: grey;
    font-size: 16px;
}


.filas img {
    width: 35px;
    height: 35px;
}

#lista-datos {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

button:hover {
    background-color: rgb(89, 88, 88);

}

#info {

    text-align: center;
    color: grey;
    font-size: 16px;
}

#confirmado {
    padding: 50px;
    font-size: 30px;
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    /* Fijo en la pantalla */
    top: 0;
    /* Arriba */
    left: 0;
    /* Izquierda */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro con transparencia */
    z-index: 998;
}

#confirmado img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

#seleccionar-pago {
    padding: 50px;
    font-size: 25px;
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#seleccionar-pago p {
    font-size: 16px;
    color: gray;
    font-weight: normal;
}


.botones-pago {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}

.botones-pago button {
    margin: 10px;
    background-color: var(--tema-principal);
    border: 1px solid transparent;
    font-size: 15px;
}

.botones-pago button:hover {
    border: 1px var(--tema-principal) solid;
    color: var(--tema-principal);
    background-color: transparent;
    /* Cambio de color cuando se pasa el mouse */
}


@media (max-width: 600px) {
    #lista-datos {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #lista-datos .filas img {
        width: 25px;
        height: 25px;
    }

    #lista-datos p {
        font-size: 12px;
    }button {
   
        padding: 20px;
        font-size: 14px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    #info {

        text-align: center;
        color: grey;
        font-size: 13px;
        width: 70%;
    }
    #confirmado {
        
        font-size: 20px;
        padding: 20px;
    }

    #confirmado img {
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
}