body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;


}

header {
    background-color: rgb(0, 107, 255);
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;


}

.elementos-header1 {
    display: flex;
    align-items: center;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.seccion-principal{
    width: 100%;
    padding-top: 50px;
    border-radius: 25px 25px 0 0;
    background-color: #f4f4f4;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
}

.contenedor-cita{
    background-color: white;
    border-radius: 10px;
    width: 20%;
    margin: 10px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#lista-citas{
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fecha-negrita{
    font-weight: bold;
}

.contenedor-papelera{
    display: flex;
    justify-content: flex-end;
}

.contenedor-papelera img{
    transition: all 0.3s ease;
}

.contenedor-papelera img:hover{
    transform:scale(1.2);
    cursor: pointer;
}

#ventana-eliminar{
    background-color: white;
    border-radius: 20px;
    z-index: 999;
    width: 40%;
    padding: 20px;
    position: absolute; /* Posición absoluta */
    top: 50%; /* 50% desde la parte superior */
    left: 50%; /* 50% desde la izquierda */
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed; /* Fijo en la pantalla */
    top: 0; /* Arriba */
    left: 0; /* Izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    z-index: 998; /* Asegurarse de que esté detrás de la ventana */
}


.caja-botones{
    display: flex;
    justify-content: center;

}

button {
    width: 30%;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: rgb(0, 107, 255);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: rgb(7, 88, 201);
}

#btn-eliminar{
    background-color: red;
}