:root {
	--tema-principal: #006bff !important;
	/*#006bff: Color de la App Modelo de BookPro*/
	--color-texto-complementario: white !important;
	/*No definido aún*/
	--color-secundario-complementario: #dff3ff !important;
	/*#BFE8FF: Color de la App Modelo de BookPro*/
	--color-fondo: #f4f4f4;
	/*#F4F4F4F4 es el color de fondo de la App Modelo de BookPro*/
	--color-elementos: white;
	--color-texto-elementos: black;
	--color-btn-variado: black;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--color-fondo);
	color: black;
	/*Color global del texto*/
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}