header {
    background-color: var(--tema-principal);
    width: 100%;
    height: 170px;
    color: var(--color-texto-complementario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.elementos-header1 {
    display: flex;
    align-items: center;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.seccion-principal {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    transform: translateY(-20px);
    width: 100%;
}

#icono-accion {
    cursor: pointer;
}

.elementos-header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

header a{
    text-decoration: none;
    color: var(--color-texto-complementario);
    padding: 0;
}

.nombre-correo-usuario {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#correo-usuario{
    font-size: 15px;
    max-width: 190px;
    overflow: hidden;

}

.nombre-correo-usuario p{
    margin: 0px;
}

#img-foto {
    overflow: hidden;
    border-radius: 50%;
    border: 2px var(--color-texto-complementario) solid;
    object-fit: cover;
}

#nombre-usuario {
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 600px) {

    header {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
    }

    .seccion-principal{
        padding-top: 20px;
        padding-bottom: 0px;
    }


    h1{
        font-size: 20px;
    }

    header .elementos-header1{
        font-size: 18px;
        margin: 20px;
    }

    header .elementos-header2{
        margin: 20px;
    }
    header .elementos-header2 img{
        width: 30px;
        height: 30px;
    }
    .elementos-header2 #correo-usuario{
        font-size: 14px;
        display: none;
    }
    .elementos-header2 #nombre-usuario{
        font-size: 13px;
    }

    .elementos-header1 #icono-accion{
        width: 20px;
        height: 20px;
    }

    .elementos-header1 #titulo-pagina{
        font-size: 15px;
    }

    .nombre-correo-usuario{
        margin-left: 5px;
    }
}