#notificaciones {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
}


.caja-notificacion {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 20px;

    max-width: 800px;
}

/* Clase para animación de salida */
.caja-notificacion.salida {
    transform: translateX(100%);
    /* Desplaza la caja hacia la derecha */
    opacity: 0;
    /* Hace que desaparezca gradualmente */
}

.texto-notificacion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.texto-notificacion p:nth-child(1) {
    font-weight: bold;
}

.texto-notificacion p {
    margin: 0;
}

.imagen-notificacion {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#no-notificaciones {
    text-align: center;
}

#btn-borrar-notificaciones {
    display: none;
    border: none;
    font-weight: bold;
    color: rgb(82, 82, 82);
    background-color: rgb(212, 212, 212);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

#btn-borrar-notificaciones:hover {
    background-color: rgb(185, 185, 185);
}

@media (max-width: 600px) {
    #notificaciones {
        width: 90%;
    }

    #btn-borrar-notificaciones {
        display: none;
        border: none;
        font-size: 12px;
        font-weight: bold;
        color: rgb(82, 82, 82);
        background-color: rgb(212, 212, 212);
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
    }


    .caja-notificacion {
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        border-radius: 15px;
        margin: 5px;
        font-size: 12px;
    }

    .caja-notificacion img {
        width: 40px;
        height: 40px;
    }

    #no-notificaciones {

        text-align: center;
    }
}