
header {
    background-color: rgb(0, 107, 255);
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;


}

.elementos-header1 {
    display: flex;
    align-items: center;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.seccion-principal {
    width: 100%;
    padding-top: 50px;
    border-radius: 25px 25px 0 0;
    background-color: #f4f4f4;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
}

#encabezado-tabla {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

.columna-dia {
    color: white;
}


h2 {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    color: grey;
}

table {
    
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border-collapse: collapse;
    /* Une los bordes de las celdas */
    overflow: hidden;
    /* Esconde el contenido que se sale del borde */


}

.columna-foto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.seccion-filtros{
    margin-top: 30px;
    margin-bottom: 30px;
}
table #encabezado-tabla td {
    padding-top: 40px;
}


table tr td:first-child {
    padding-left: 40px;
}

.foto-cliente {
    border-radius: 50%;
}



table tr td:last-child {
    padding-right: 40px;
}

table tr:last-child td {
    padding-bottom: 40px;
}

table tr td {
    padding: 15px 30px;
    border: none;
    text-align: left;

}

table tr {
    background-color: white;
}

.info-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.info-cliente p{
    margin: 0px;
}

.telefono-contacto{
    color: grey;
    font-size: small;
}