
h1 {
    text-align: center;
    font-size: 35px;
}



.seccion-servicios {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-servicio {
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}




.contenedor-servicio p {
    font-weight: bold;
}

.contenedor-servicio:hover {
    transform: scale(1.05);
}

.caja-texto-servicios {
    border: 1px red solid;
}


.texto-servicios {
    width: 35%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Fondo blanco semi-transparente */
    backdrop-filter: blur(20px);
    /* Efecto borroso */
    -webkit-backdrop-filter: blur(20px);
    /* Compatibilidad con navegadores WebKit */
    border-radius: 8px;
    /* Bordes redondeados */
    padding: 15px 30px;
    /* Espaciado interno */

}

#icono-accion {
    cursor: pointer;
}

@media (max-width: 600px) {

    .elementos-header1,
    .elementos-header2 {
        padding: 0%;
        transform: scale(0.6);

    }

    .contenedor-servicio {
        transform: scale(0.7);
        width: 95%;
        margin: 0%;
    }

    .contenedor-servicio:hover {
        transform: scale(0.7);
    }
}